@font-face {
  font-family: "Shrikhand";
  src: url("/font/Shrikhand.ttf") format("truetype");
}

footer {
  padding: 22px;
  background-color: #353535;
  color: white;
  gap: 16px;
}

footer h3 {
  font-family: 'Shrikhand' ,sans-serif;
}

footer p {
  margin: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

footer a {
  color: white;
  margin: 5px;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  footer h3 {
    margin: 0px;
  }
  footer div {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  footer div p {
    margin: 0px;
  }
}
