@font-face {
  font-family: "Shrikhand";
  src: url("font/Shrikhand.ttf") format("truetype");
}

@font-face {
  font-family: "Shrikhand";
  src: url("/font/Shrikhand.ttf") format("truetype");
}

footer {
  padding: 22px;
  background-color: #353535;
  color: white;
  gap: 16px;
}

footer h3 {
  font-family: 'Shrikhand' ,sans-serif;
}

footer p {
  margin: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

footer a {
  color: white;
  margin: 5px;
}

body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
  height: 75%;
}

.card-title {
  font-size: 16px;
}

header {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  height: 63px;
  box-shadow: 5px 5px 5px #aaa;
  font-family: 'Shrikhand';
  animation: disparition 6s 1;
}

header div {
  font-family: 'Shrikhand';
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  font-weight: 500;
  height: 50px;
  gap: 17px;
  animation: disparition 6s 1;
  opacity: 0.9;
}

.titre {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  text-align: center;
  animation: disparition 6s 1;
}

.titre a {
  width: 58%;
}

.titre h2 {
  height: 68px;
  margin: 0px;
}

.titre button {
  background: linear-gradient(#9356dc, #ff78da);
  border-radius: 25px;
  width: 100%;
  height: 50px;
  border: 0px;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition-property: opacity , box-shadow;
  transition-duration: 500ms;
}

.titre button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.loader {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 45%;
  border: 16px solid transparent;
  /* Light grey */
  border-top: 16px solid;
  /* Blue */
  border-bottom: 16px solid;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear 2;
  vertical-align: center;
}

.accueil {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  flex-direction: column;
  animation: disparition 6s 1;
}

.guide-d-etapes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.icone-guide-d-etape {
  color: #9356DC;
}

.accueil button {
  height: 72px;
  width: 85%;
  border-radius: 25px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  position: relative;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: absolute;
  left: -10px;
}

/***Restaurants***/
.restaurants1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  animation: disparition 6s 1;
}

#liste-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
}

.badge-nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 23%;
  height: 12%;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
}

.restaurants1 a {
  width: 100%;
  text-decoration: none;
}

.restaurants1 .card {
  height: 251px;
}

.restaurants1 .card-txt {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 5px;
  align-items: center;
}

.description-restaurants {
  width: 80%;
}

.restaurants1 .card-content h3 {
  margin: 0px;
  color: black;
}

.restaurants1 .card-content p {
  margin: 0px;
  color: black;
}

.images-restaurant {
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.like {
  display: flex;
  font-size: 22px;
  color: black;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.coeur-plein {
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
}

.coeur-plein:hover {
  opacity: 1;
}

footer {
  animation: disparition;
  animation-duration: 6s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes disparition {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .accueil {
    display: flex;
    flex-direction: column;
    padding: 50px 180px 50px 180px;
  }
  .accueil .guide-d-etapes {
    flex-direction: row;
  }
  .restaurants1 {
    background-color: #f6f6f6;
    padding: 0px 180px 0px 180px;
  }
  .restaurants1 a {
    width: 45%;
  }
  #liste-restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  footer {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  footer h3 {
    margin: 0px;
  }
  footer div {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  footer div p {
    margin: 0px;
  }
}
