body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    height: 75%;
}

.card-title {
    font-size: 16px;
}


header{
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    align-items:center;
    height: 63px;
    box-shadow: 5px 5px 5px #aaa;
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EAEAEA;
    font-weight: 500;
    height: 50px;
}

.titre{
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    text-align: center;
}

.titre h2{
    height: 68px;
    margin: 0px;
}

.titre button{
    background: linear-gradient(#9356dc,#ff78da);
    border-radius: 25px;
    width: 58%;
    height: 50px;
    border: 0px;
    color: white;
    box-shadow: 8px 8px 12px #aaa;
    
}

.accueil{
    display: flex;
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;

}

.accueil div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.accueil button{
    height: 72px;
    width: 85%;
    border-radius: 25px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    
}


/***Restaurants***/

.restaurants1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.liste-restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
    
}


.restaurants1 a{
    width: 100%;
    text-decoration: none;
}

.restaurants1 .card{
    height: 251px;
}

.restaurants1 .card-txt{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
    align-items: center;
}

.card-txt div{
    width: 80%;
}

.restaurants1 .card-content h3{
    margin: 0px;
    color: black;

}

.restaurants1 .card-content p{
    margin: 0px;
    color: black;
}

.images-restaurant{
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.like{
    border: 0px;
    background-color: white;
    height: 22px;
    width: 21px;
    padding: 0px;
}

.like img{
    height: 100%;
}


/**Footer**/

footer {
    padding: 22px;
    background-color: #353535;
    color: white;
    gap: 16px;
    margin-top: 30px;
}

footer p{
    margin: 5px;
}

footer img{
    color: #ffff;
}

